# TeamsFx files
node_modules
.fx/configs/localSettings.json
.fx/states/*.userdata
.DS_Store
.env.teamsfx.local
subscriptionInfo.json
build
.fx/configs/config.local.json
.fx/states/state.local.json
__blobstorage__
__queuestorage__
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
__azurite_db_table_extent__.json
